html{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: rgb(46, 50, 54); 
  background-color: rgb(46, 50, 54); 
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
#root{
  margin: 0;
  padding: 0;
}
.app{
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background: rgb(72, 80, 87);  
}