html{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: rgb(46, 50, 54); 
  background-color: rgb(46, 50, 54); 
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
#root{
  margin: 0;
  padding: 0;
}
.app{
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background: rgb(72, 80, 87);  
}

/* Styles for mobile devices */
@media only screen and (max-width: 599px){
  html{
    font-size: 0.6rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 899px){
  html{
    font-size: 0.7rem;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1024px){
  html{
    font-size: 0.8rem;
  }
}