#nav-bar-container{
  position: absolute;
  width: 100%;
  /* height: 60px; */
  z-index: 1;
  display: grid;
  grid-template-columns: 10vw 40vw 40vw 10vw;
  grid-template-rows: auto;
  grid-template-areas: 
    ". left right ."
}

#nav-bar-container.scrolled{
  position: fixed;
  background-color: rgb(46, 50, 54);  
  transition: .7s;
  box-shadow: 0 2px 2px rgb(61, 61, 61);
}

#nav-bar-container.fade{
  transition: .5s;
  animation-name: fading;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

@keyframes fading{
  0% {top: 100px;}
  100% {top: 0;}
}

#hamburger{
  display: none;
}

#toggle{
  display: none;
}

.nav-bar-right-side{
  grid-area: right;
  display: flex;
  justify-content: flex-end;
}

.nav-bar-right-side div{
  display: grid;
  justify-content: center;
  align-items: center;
}

.navbar-link{
  margin: 10px;
  position: relative;
  text-decoration: none;
  color: white;
  font-weight: 200;
  transition: .3s;
  white-space: nowrap;
}

.navbar-link:before {
  content: "";
  position: absolute;
  visibility: hidden;
  bottom: -3px;
  width: 100%;
  height: 1px;
  background-color: rgb(255, 255, 25);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.35s ease-in-out 0s;
  transition: all 0.35s ease-in-out 0s;
}
.navbar-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.navbar-link:hover{
  color: rgb(255, 255, 67);
  cursor: default;
}

.nav-bar-left-side{
  grid-area: left;
  display: flex;
}

.button{
  width: 40px;
  height: 40px;
  margin: 10px;
  background-size: cover;
  transition: .3s;
}

.button:hover{
  transform: scale(1.15);
}

#ENG{
  background-image: url("../img/united-kingdom.png");
}

#PL{
  background-image: url("../img/poland.png");
}

/* Styles for mobile devices */
@media only screen and (max-width: 1024px){
  #nav-bar-container{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "left menu"
  }

  .nav-bar-left-side{
    padding: 0 2rem;
  }

  #hamburger{
    grid-area: menu;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 2rem;
  }

  #hamburger.scrolled{
    color:rgb(255, 255, 255);
  }

  #hamburger label{
    font-size: 2.5rem;
    cursor: pointer;
  }

  .nav-bar-right-side{
    display: none;
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 2;
  }
  .nav-bar-right-side div a{
    font-size: 1.5rem;
  }

  #toggle:checked + .nav-bar-right-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}